/**
 *  MDM page
 */
.mdmPage .sapMShellGlobalOuterBackground {
	background-color: #FCFCFC;
	background-image: none;
}
 
.mdmPage .sapMShellBrandingBar {
 	background-color: transparent;
 }
 
.mdmPage .sapUiUfdShellBackground,
.mdmPage .sapUshellShellBackground,
.mdmPage .sapMGlobalBackgroundColor {
	background-color: #FCFCFC !important;
	background-image: none !important;
}

.mdmPage .sapMScrollContScroll{
	display:inline-block;
	width: 98%;
}


/**
 *  MDM header
 */
.mdmHeader {
	text-shadow: none;
	background-color: #599CC3 !important;
	border-bottom:1px solid #3582B0;
	box-shadow: none !important;
}

.mdmHeader::before {
	border-top: 0.25rem solid #3582B0;
}

.mdmHeader .mdmHeaderLogo {
	padding-left: 10px;
	margin-top: 2px !important;
	height: 26px;
	vertical-align: middle;
}

.mdmHeader .mdmHeaderWelcome {
	font-size: 0.875rem !important;
	font-weight: bold;
	margin-right: 5px !important;
	color: #FFFFFF;
	vertical-align: middle;
}

.mdmHeader .mdmHeaderLogout {
	margin-left: 10px;
	margin-right: 10px;
}

.mdmHeader .sapMLnk,
.mdmHeader .sapMLnk:link {
	color: #FCFCFC;
	vertical-align: middle;
}

.mdmHeader .sapMLnk:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.mdmHeader .sapMLnk:visited,
.mdmHeader .sapMLnk:active,
.mdmHeader .sapMLnk:active:not {
	color: #FCFCFC;
}

.mdmHeader .sapMBtnIcon,
.mdmHeader .sapMBtnInner {
	color: #3582B0;
	text-shadow: none;
}

.mdmHeader .sapMBtnIcon:hover,
.mdmHeader .sapMBtn:hover>.sapMBtnHoverable {
	background-color: transparent;
	color: #FFFFFF;
}

.mdmHeader .sapMBtnIcon:click {
	background-color: transparent;
	color: #FFFFFF;
}


/**
 *  MDM footer
 */
.mdmFooter{
 	background-color: #464545 !important;
}
 
.mdmFooter .mdmCopyright {
	padding-right: 15px !important;
}


/**
 * MDM tile
 */
.mdmTile {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	display: inline-block;
	height: 14rem !important;
	margin: 0.5rem !important;
	width: 16rem !important;
	padding: 15px !important;
	cursor: pointer;
	color: #666666;
}

.mdmTile:hover {
	background: #3582B0;
	color: #FFFFFF;
}

.mdmTile:onclick {
	background-color: #FFFFFF;
}

.mdmTileHeader {
	padding-left: 20px !important;
	width: 11rem !important;
}

.mdmTileHeaderTitle {
	font-size: 1.2rem !important;
	font-weight: bold;
}

.mdmTileHeaderSub {
	font-style: italic;
	font-size: 0.75rem !important;
}

.mdmTileIcon {
	font-family: SAP-icons;
	font-size: 2rem;
}

.mdmTile .sapMObjectNumber {
	margin-top: 30px;
	float: right;
}

.mdmTile .sapMObjectNumberText {
	color: #666666;
	font-size: 1.75rem
}

.mdmTile .sapMObjectNumberUnit {
	color: #666666;
	font-size: 1.0rem
}

.mdmTile .sapMObjStatus {
	margin-top: 55px;
	font-size: 1.0rem;
}

.mdmTile:hover .sapMObjectNumberText,
.mdmTile:hover .sapMObjectNumberUnit,
.mdmTile:hover .sapMObjStatusText,
.mdmTile:hover .sapMObjStatusIcon,
.mdmTile:hover .sapMLnk {
	color: #FFFFFF;
}

.mdmTile .mdmSecondObject {
	float: left !important;
	margin-top: 10px !important;
}

.mdmTileUnderDevImage {
	width: 6.5rem !important;
	margin-top: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mdmTileImage {
	width: 100% !important;
	margin-top: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/**
 *  MDM other
 */
.mdmScreenTitle {
	margin-top: 15px;
}
 
 .mdmScreenTitle .mdmTitle {
	font-size: 1.15rem;
	font-weight: bold;
}

.mdmScreenTitle .mdmSubTitle {
	font-size: 0.875rem;
	font-style: italic;
}

.mdmDetailScreenTitle {
	font-size: 1.15rem;
	font-weight: bold;
}

.mdmScreenContent {
	margin-left: 10px;
}

.mdmFilterBar {
	background-color: #F3F3F3 !important;
	margin-top: 15px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
 
.mdmToolbarBottom {
	border-top: 1px solid #cdcdcd;
	border-bottom: none;
} 

.mdmMessageArea {
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	display:block;
}

.mdmMessageArea .sapMMsgStrip {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.mdmNewEntityContainer {
	padding: 10px !important;
	background-color: #FCFCFC;
	border: 1px solid #dddddd;
	box-shadow: 0px 2px 2px #dddddd;
	margin-top: 20px !important;
	display: block;
	width: 12rem !important;
	font-weight: bold;
}

.mdmBoldTxt {
	font-weight: bold !important;
}

.mdmConfirmationDialogTxt {
	padding: 15px !important;
}

/**
 *  MDM analysis
 */
.mdmAnalysisMap {
	width: 100% !important;
	height: 100% !important;
	margin-top: 15px;
}

/**
 * MDM Data Import
 */
.mdmImportFilenameHeader {
	border-bottom: 1px rgba(0,0,0,0.5) solid;
}

.mdmImportMetaheader {
	border-right: 1px rgba(0,0,0,0.5) solid;
}

.mdmImportAttributeHeaderLeft {
	border-bottom: 1px rgba(0,0,0,0.5) solid;
	border-right: 1px rgba(0,0,0,0.5) solid;
}

.mdmImportAttributeHeaderRight {
	border-bottom: 1px rgba(0,0,0,0.5) solid;
}

.mdmImportRowParticle {
	border-right: 1px rgba(0,0,0,0.5) solid;
}